.root{
    -fx-background-image: url("images/main_menu_background_old.jpg");
}

.board {
    -fx-alignment: center;
    -fx-padding: 40px;
}

.cardBack {
    -fx-min-width: 30px;
    -fx-min-height: 30px;
    -fx-background-color: lightblue;
    -fx-border-color: black;
    -fx-border-width: 1px;
}