.root{
    -fx-background-image: url("images/main_menu_background_old.jpg");
}

.board {
    -fx-alignment: center;
    -fx-padding: 40px;
}

.cardBack {
    -fx-max-height: 100;
    -fx-max-width: 71.508379888268156424581005586592;
    -fx-background-color: lightblue;
    -fx-border-color: black;
    -fx-border-width: 1px;
}